<%- layout('layouts/main') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="col-md-4 offset-md-4">
  <div class="card text-center mt-4">
    <div class="card-body">
      <h1 class="card-title h5">INSTAGRAPP</h1>
      <h2 class="card-title h5">de Raúl Marván Medina</h2>
      <img src="/img/instagram.png" style="width: 20%;" />
      <a href="/login" class="btn btn-primary btn-block mt-4">
        Entrar
      </a>
    </div>
  </div>
</div>
<div class="card text-center mt-4">
  <div class="card-body">
    <h1 class="card-title h5"> ÚLTIMO USUARIO QUE ACCEDIÓ </h1>
    <img src="<%= user.profile_picture %>" style="width: 15%;" />
    <hr>
    <%=user.username%>
    <hr>
    Nombre: <%=user.full_name%>
    <hr>
    ID: <%=user.id%>
    <hr>
    <%=user.bio %>
    <hr>
    <%=user.website %>
  </div>
  <div class="card-body">
    <h1 class="card-title h5"> FOTOS RECIENTES </h1>
    <% media.forEach(function( m ) { %>
      <img src="<%= m.images.thumbnail.url %>" />
      <div class="card-body">
        <p>Subida por <%= m.user.full_name %></p>
        <p class="text-muted"><%= formatDate(m.created_time) %></p>
      </div>
    <% })%>
  </div>
</div>